<div class="form-group">
    <label>テンプレート名</label>
    <input soy:id="name" class="form-control"></span>
</div>

<div class="form-group">
    <label>概要</label><span soy:message="TEMPLATE_FILE_DESCRIPTION"></span>
    <textarea soy:id="description" cols="60" rows="4" class="form-control"></textarea>
</div>

<div class="form-group">
    <label>テンプレート</label><span soy:message="TEMPLATE_FILE_CONTENT"></span>
    <div>
        <div>
            <div id="template_toolbox">
                <button type="button" onclick="showPreview();">プレビュ</button>
                <!-- Deleted /-->
                <!-- Deleted /-->
                <!-- Deleted /-->
                <!-- Deleted /-->
            </div>

            <div id="template_wrapper" style="position:relative;border:solid 1px #666666;width:100%;">
                <div id="template_editor_wrapper" style="display:inline;">
                    <textarea soy:id="template" id="template_content" rows="40" cols="80" class="pre_scroll"></textarea>
                    <!-- Deleted /-->
                </div>
            </div>
        </div>
        <!-- Deleted /-->
    </div>
</div>

<!-- Deleted /-->
