
.project
.local/
*.bak.*

*.bak
*.gho
*.ori
*.orig
*.tmp

*.patch
*.diff

.metadata
*.swp
.settings/
.buildpath

.~lock.*#

.Trash-*
.nfs*

.vscode/*
*.code-workspace
.history/

Thumbs.db
ehthumbs.db
[Dd]esktop.ini
*.lnk

.DS_Store
.AppleDouble
.LSOverride




*.db
*.log
cache/**/*_cache_*.php
tmb/*




!.gitkeep
